@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:focus-visible {
    outline: 0;
}

html,
body {
    height: 100%;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #333;
    transition: all .3s;
}

a:hover {
    color: #78cc6d;
}

.menu-bar {
    position: absolute;
    bottom: 6%;
    right: 50%;
    transform: translateX(50%);
    background: #fff;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 12px #7b7b7b70;
    opacity: .7;
    transition: all .3s;
    z-index: 2;
}

.menu-bar:hover {
    opacity: 1;
}

.menu-bar li {
    display: inline-block;
    margin-right: 1.5rem;
    padding-right: 1.5rem;
    border-right: 1px solid;
    border-image: radial-gradient(ellipse at right, #dedede 0, #fff 70%);
    border-image-slice: 1;
}

.menu-bar li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.menu-bar.nav-pills li .nav-link {
    color: #000;
    padding: 0;
    outline: 0;
}

.menu-bar.nav-pills li .nav-link:is(:hover, .active) {
    color: #78cc6d;
    background: transparent;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
}

.nav-link i {
    font-size: 1.5rem;
}

.nav-link * {
    display: block;
    text-align: center;
}

.profile {
    background: #f5f5f5;
    padding-block-end: 1rem;
    border-radius: 12px;
    box-shadow: -28px -28px 0px #1987543d;
}

.profile figure {
    background-color: #78cc6d24;
    padding-block-start: 2rem;
    clip-path: polygon(100% 0, 100% 65%, 50% 90%, 0 65%, 0 0);
    margin-bottom: 0;
}

.profile figure img {
    width: 280px;
    border-radius: 50%;
}

.about-me h1 {
    font-size: 2rem;
    line-height: 3rem;
}

.about-me h3 {
    color: #78cc6d;
    font-size: 1.5rem;
}

.typed-cursor {
    animation: blink 0.7s infinite;
}


.social-icons a {
    display: inline-block;
    margin-inline-end: 1rem;
}

.social-icons a:last-child {
    margin-inline-end: 0;
}

.social-icons a i {
    font-size: 1.1rem;
}

.main-height {
    height: 510px;
}

.left-side {
    height: 480px;
    border-radius: 0 4px 4px 0;
    overflow-y: auto;
}

.left-side::-webkit-scrollbar {
    width: 7px;
}

.left-side::-webkit-scrollbar-track {
    background: transparent;
}

.left-side::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    border-radius: 30px;
}

.download-cv {
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
    padding-block-start: 0.6rem;
}

.download-cv::before {
    position: absolute;
    content: '';
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255, 255, 255, 0) 70%);
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
}

.title {
    margin-bottom: 30px;
    font-size: 22px;
    color: #323;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
}

.title:first-letter {
    color: #78cc6d;
    font-size: 2rem;
}

.title::before {
    position: absolute;
    content: '';
    bottom: -7px;
    left: 0;
    border-radius: 4px;
    height: 3px;
    width: 23px;
    background: linear-gradient(to right, #78cc6d, #6dc6cc);
}

.border-line {
    position: relative;
}

.border-line::before,
.border-line::after {
    position: absolute;
    content: '';
    background: radial-gradient(ellipse at top, #ddd 0, rgba(255, 255, 255, 0) 70%);
    top: 0;
}

.border-line::before {
    width: 100%;
    height: 2px;
    left: 0;
}

.border-line::after {
    right: 0;
    width: 2px;
    height: 100%;
}

.border-line:nth-child(even):after {
    display: none;
}

.info li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info li strong {
    background: #78cc6d;
    padding: 0.3rem 0.8rem;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.box-card i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    background: #78cc6d;
    display: inline-block;
    margin-bottom: 1rem;
    color: #fff;
}

.box-card i::before {
    font-size: 1.8rem;
    line-height: 2.1;
}

.box-card h4 {
    font-size: 17px;
    color: #323232;
    font-weight: 500;
}

.client-slider {
    padding-top: 1rem;
}

.client-slider .swiper-slide {
    background: #00144d;
    padding: 1rem;
    border-radius: 4px;
}

.client-slider .swiper-slide img {
    aspect-ratio: 2/1;
    object-fit: contain;
}

.box-card .contact-icon i {
    width: 40px;
    height: 40px;
}

.box-card .contact-icon i span {
    font-size: 1.8rem;
}

.box-card .contact-icon i::before {
    font-size: 1.2rem;
}

.form-control~label {
    color: #c1c1c1;
}

.form-control:is(:focus) {
    box-shadow: none;
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}